TINKERBELL_PUBLIC_IP={{ bootstrap_k0s_provisioning_ip }}
TINKERBELL_ARTIFACTS_FILE_SERVER={{ bootstrap_k0s_artifacts_file_server }}
TINKERBELL_DHCP_BIND_ADDR={{ bootstrap_k0s_dhcp_bind_addr }}
TINKERBELL_DHCP_BIND_INTERFACE={{ bootstrap_k0s_dhcp_bind_interface }}
TINKERBELL_TRUSTED_PROXIES={{ bootstrap_k0s_trusted_proxies }}
K0S_POD_CIDR={{ bootstrap_k0s_pod_cidr }}
K0S_SERVICE_CIDR={{ bootstrap_k0s_service_cidr }}
