{
  "root": "/home/step/certs/root_ca.crt",
  "federatedRoots": [],
  "crt": "/home/step/certs/intermediate_ca.crt",
  "key": "/home/step/secrets/intermediate_ca_key",
  "address": "{{ stepca_service_ip }}:{{ stepca_port }}",
  "insecureAddress": "",
  "dnsNames": {{ stepca_dns_names.split(',') | to_json }},
  "logger": {
    "format": "text"
  },
  "db": {
    "type": "badgerv2",
    "dataSource": "/home/step/db"
  },
  "authority": {
    "provisioners": [
      {
        "type": "ACME",
        "name": "acme",
        "claims": {
          "maxTLSCertDuration": "2160h",
          "defaultTLSCertDuration": "2160h"
        }
      },
      {
        "type": "JWK",
        "name": "{{ stepca_jwk_provisioner_name }}",
        "key": {{ stepca_credentials.jwk_public_jwk | from_json | to_json }},
        "encryptedKey": "{{ stepca_credentials.jwk_encrypted_key }}"
      }
    ]
  },
  "tls": {
    "cipherSuites": [
      "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
      "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
    ],
    "minVersion": 1.2,
    "maxVersion": 1.3,
    "renegotiation": false
  }
}
