POSTGRES_DB=${database_name}
POSTGRES_USER=${database_username}
POSTGRES_STATE_DIR=${postgres_state_dir}
KC_BOOTSTRAP_ADMIN_USERNAME=${keycloak_admin_username}
KC_HEAP_MIN=${keycloak_heap_min}
KC_HEAP_MAX=${keycloak_heap_max}
KC_HOSTNAME=${private_hostname}
