http:
  routers:
    keycloak:
      rule: Host(`${private_hostname}`)
      entryPoints:
        - websecure
      service: keycloak
      tls:
        certResolver: ${traefik_certificate_resolver}

  services:
    keycloak:
      loadBalancer:
        servers:
          - url: http://keycloak:8080
